<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
</head>
<body>
    <ul>
        {% for item in data.tweets %}
        <li>
          <p>{{ item }} tweeted by: <a href="/{{ item.author }}">{{item.author}}</a></p>
          <p> {{ item.timecreated }}</p>
          <a href="/{{ item.author }}/{{ item.id }}">Go To Tweet</a>
        </li>
        {% endfor %}
        <p></p>
        <p></p>
        <li><a href="/logout">Log out</a></li>
      </ul>
</body>
</html>